#achievements {
    display: flex;
    background: linear-gradient(rgba(100, 100, 100, 0.2), rgba(10, 10, 10, 1)), url('../../assets/img/work.webp') center/cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    h2 {
        color: $color-3;
    }
    
    .swiper {
        padding: 0 100px;
        color: aliceblue;
        width: 90%;
        min-height: 70vh;
        text-align: center;
        @media screen and (max-width: $medium) {
            padding: auto;    
            width: 100%;  
        }
        @media screen and (max-width: $mobile) {
            justify-content: space-between;
            height: 70vh;
            margin: auto;
            padding: 50px;
        }
        
        h3 {
            color: $color-1;
            margin: 20px auto;
            font-size: 1.3rem;
        }

        ul {
            display: flex;
            justify-content: center;
            gap: 20px;
            margin: 10px;
            @media screen and (max-width: $mobile) {
                font-size: 0.85rem; 
                flex-wrap: wrap;
                gap: 5px;
            }
            
            li {
                background: #ffffff5c;
                padding: 5px 10px;
                border-radius: 15px;
            }
        }
        img{
            height: 30vh;
            margin: 30px auto;
            border-radius: 10px;
            @media screen and (max-width: $medium) {
                margin: 30px auto;  
                height: 25vh;     
            }
            @media screen and (max-width: $mobile) {
               height: 10vh;  
               margin: 10px auto;
            }
        }
        p {
            padding: 10px 20px;
            border-radius: 10px;
            background: #ffffff5c;
            font-size: 0.9rem;
            line-height: 20px;
            @media screen and (max-width: $mobile) {
                font-size: 0.8rem;    
                text-align: justify;
            }
        }
        
    }
}