footer {
    width: 100%;
    background: $color-2;
    color: $color-3;
    padding: 20px 0;

    a{
        text-decoration: none;
        color: $color-3;
    
        &:hover{
            color: $color-1;
        }
    }
    i {
        margin-right: 10px;
    }
    
    h4 {
        margin-bottom: 15px;
         @media screen and (max-width: $mobile) {
            margin-bottom: 5px;     
        }
    }

    .footer-container{
        @include nonante;
        display: flex;
        justify-content: space-between;
        font-size: 0.8rem;
        @media screen and (max-width: $medium) {
            font-size:0.65rem;  
            width: 98%;        
        }
        @media screen and (max-width: $mobile) {
            flex-direction: column;
            gap: 30px;   
            text-align: center;
          }
    }

    .footer-left{
        .footer-title{
            display: flex;
            align-items: center;
            margin-bottom: 5px;
            @media screen and (max-width: $mobile) {
                display: block;
                text-align: center;     
            }
        }
        h4{margin-bottom: 0;}
        p{
            margin-bottom: 10px;
            @media screen and (max-width: $mobile) {
                margin-bottom: 5px;  
            }
        }

        ul {
            display: flex;
            justify-content: space-between;   
            @media screen and (max-width: $medium) {
                font-size:0.65rem;  
                justify-content: left;
                gap: 20px;      
            }     
            @media screen and (max-width: $mobile) {
                justify-content: center;
              }
              .modale-btn:hover{
                cursor: pointer;
                color:$color-1;
              }
        }
        @media screen and (max-width: $mobile) {
            width: 90%;
            margin: auto;
          }
    }
    .footer-middle{
        .middle-box{
            display: flex;
            flex-direction: column;
            gap: 10px;
            @media screen and (max-width: $mobile) {
                gap: 5px;     
            }
            .hover:hover{
                color: $color-1!important;
            }
        }
        @media screen and (max-width: $mobile) {
            width: 90%;
            margin: auto;
          }
    }
    .footer-right{
        p {
            margin: 10px auto;
            color: #7e7e7ee3;
            @media screen and (max-width: $mobile) {
                margin: 5px auto;     
            }
        }
        .react {
            color:$color-3;
            font-size: 1rem;
            @media screen and (max-width: $mobile) {
                font-size: 0.8rem;
              }

            i {
                color: #09D9FE;
                margin-left: 5px;
            }
        }
        @media screen and (max-width: $medium) {
            width: 25%;        
        }
        @media screen and (max-width: $mobile) {
            width: 90%;
            margin: auto;
          }
    }
}
#footer-modale-container {
    width: 90%;
}
.modale-container{
    position: relative;
    margin: auto;
    text-align: justify;
    line-height: 23px;
    @media screen and (max-width: $mobile) {
        font-size: 0.8rem;
        line-height: 17px;
    }
    h2{
        width: 100%;
        &::after {
            display: none;
        }
        @media screen and (max-width: $mobile) {
               font-size: 1.2rem;
              }
            }
            button{
                position: absolute;
                top:0;
                right:0;
                border: none;
            }
            i{
                font-size: 20px;
                color: $color-1;
                cursor: pointer;
                @media screen and (max-width: $mobile) {
                       font-size: 15px;
                      }
    }
    h3{
        margin: 20px auto 5px;
    }
}