#skills {
    min-height: 100vh;
    display: flex; 
    flex-direction: column;
    @include nonante;

    .skills-container{
        height: auto;
    }
    .skills-box {
        margin: 30px auto;
        display: flex;
        width: 100%;
        justify-content: space-between;

        .skills-list{
            width: 40%;
            

            .type-btn{
                font-size: 1.2rem;
                margin: 20px;
                display: flex;
                justify-content: space-around;
                @media screen and (max-width: $medium) {
                    font-size: 1rem;
                  }

                li{
                    padding: 10px;
                    cursor: pointer;
                }
                
                .active-skills{
                    background: $color-1;
                    color:$color-3
                }
            }
            .skills-list-box {
                text-align: center;
                @media screen and (max-width: $medium) {
                    font-size: 0.9rem;
                  }

                li {
                    padding: 5px;
                    margin: 10px;
                    cursor: pointer;
                }

                .active-skill{
                    background: $color-1;
                    color:$color-3
                }
            }
        }
        .skills-details-box{
            height: 50%;
            width: 50%;
            border: 5px solid rgba(85, 85, 85, 0.579);
            background: linear-gradient(rgba(206, 206, 206, 0.673), rgba(205, 205, 205, 0.705)), url('../../assets/img/work4.jpg') center/cover;
            border-radius: 5px;
            padding: 20px;

            h3{
                text-shadow: -1px 0 $color-1, 0 1px $color-1, 1px 0 $color-1, 0 -1px $color-1;
                text-align: center;
                margin: 20px auto 50px;
                font-size: 2rem;
                color: $color-3;
            }
            .details-content{
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                color: $color-2;

                p{
                    margin: 10px;
                    @media screen and (max-width: $medium) {
                        margin: 5px;       
                    }
                }
                i {
                    margin-right: 5px;
                    color: #127605;
                }
                @media screen and (max-width: $medium) {
                    font-size:0.85rem;         
                }
            }
        }
    }
}